.header {
    font-size: 30px;
    border-bottom: 1px solid lightsteelblue;
    padding: 5px;
    &--title{
        font-size: 30px;
        padding-bottom: 5px;
    }
    &--form{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    &--label {
        margin-right: 10px;
    }
    &--select {
        border-radius: 5px;
    }
    }
    
}