.list__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    &--li {
        margin: 30px;
        padding: 20px;
        border: 1px solid lightsteelblue;
        border-radius: 25px;
    }
}

.title--newClub {
    text-align: center;
    border-bottom: 1px solid lightsteelblue;
    padding-bottom: 5px;
}

.form {
    border: 1px solid lightsteelblue;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    &--title{
        padding: 5px;
    }
    &__input--name {
        margin-top: 5px;
        margin-bottom: 10px;
        width: 120px;
        border-radius: 10px;
        border: 2px solid lightsteelblue;
    }
    &__input--check{
        margin: 5px 0 20px 10px;
      
    }
    &__input--btn {
        width: 200px;
        border-radius: 10px;
        border: 2px solid lightsteelblue;
        margin-bottom: 10px;
    }
}

.delete-btn {
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 30%;
    border-radius: 25px;
    padding: 2px;
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
}